body {
    font-family: 'Arial', sans-serif;
    margin: 50px 25px;
}

a {
    color: rgb(77, 71, 71);
}

a:hover {
    color: #054A3B ;
}

header,  div.page {
    /* width: 760px; */
    margin: 0 auto;
    background: #C4CACE;
    padding: 20px 30px;
}

header h1 {
    text-align: center;
    margin: 0; 
    font-weight: normal;
    font-size: 24px; 
}

nav {
    background-color: #020202;
    overflow: hidden;
}

div.page {
    background: #918d8d;
}

figure {
    background: #5f6a72; /* Цвет фона */
    padding: 10px; /* Поля вокруг */
    display: block; /* Блочный элемент */
    width: 150px; /* Ширина */
    float: left; /* Блоки выстраиваются по горизонтали */
    margin: 0 10px 10px 0; /* Отступы */
    text-align: center; /* Выравнивание по центру */
   }
